<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        @for (product of heroProducts; track product; let index = $index) {
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            [attr.data-bs-slide-to]="index"
            [ngClass]="{ active: index === 0 }"
            aria-current="true"
            [attr.aria-label]="'Slide ' + index"
          ></button>
        }
      </div>
      <div class="carousel-inner">
        @for (product of heroProducts; track product; let index = $index) {
          <div class="carousel-item" [ngClass]="{ active: index === 0 }">
            <img [src]="product.image" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ product.name | uppercase }}</h5>
              <p>{{ product.hero }}</p>
            </div>
          </div>
        }
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <br /><br />

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      @for (product of products; track product; let index = $index) {
        <div class="col">
          <div class="card shadow-sm">
            <img [src]="product.image" />
            <div class="card-body">
              <p class="card-text">{{ product.name | uppercase }}</p>
              <p class="card-text">{{ product.hero ? product.hero : product.detail }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">{{ product.price | currency }}</small>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="buy(index)">Comprar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
