<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shopping Cart</a>

    <ul class="navbar-nav me-auto mb-md-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/product">Products</a>
      </li>
    </ul>
  </div>

  <div class="d-none d-md-block me-5">
    <span class="position-relative" (click)="openCart()" style="cursor: pointer">
      <i class="fas fa-shopping-cart" style="color: white; font-size: 20px"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{
        quantityItemsCart
      }}</span>
    </span>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Shopping Cart is an example created by Fernando Gouveia.</p>
  </div>
</footer>
