<div class="py-4">
  <div class="container">
    @if (cart) {
      @for (item of cart.items; track item; let index = $index) {
        <div class="row mb-5">
          <div class="col-3"><img [src]="item.product.image" style="width: 100%" class="img-fluid" /></div>
          <div class="col-6">
            <h3>
              {{ item.product.name | uppercase }}
            </h3>
            <p>
              {{ item.product.detail }}<br />
              <small class="text-muted">{{ item.product.info }}</small>
            </p>
            <p>
              Quantidade: <strong>{{ item.quantity }} UN.</strong>
            </p>

            <button type="button" class="btn btn-link" (click)="deleteProduct(item.product)">Delete product</button>
          </div>
          <div class="col-2">
            <h3>{{ item.product.price | currency }}</h3>
          </div>
        </div>
      }
      <div class="row mb-5">
        <div class="col-12 d-flex justify-content-center">
          <div class="d-grid gap-2 col-8">
            <button class="btn btn-secondary btn-lg" type="button" (click)="closeCart()">Close cart</button><br />
            <button class="btn btn-outline-danger" type="button" (click)="clearCart()">Clear cart</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
